/* APPKEY: KiYpWyKPLuxAhpZjmWKp3srIFVz3wpJomdIptrXI */

.promoted-products-container table td.ext-product-image {
  background: #ddd;
}

.promoted-products-container
  table
  td.ext-product-image
  img.promoted-products-adapt-img {
  width: 85px !important;
}

/* sample actual test in email */
[class*="promoted-products-adapt-img"] {
  width: 85px !important;
}
