[class*="yotpo-promoted-products-widget-container"] .pp-product-name {
  text-align: center;
}

[class*="yotpo-promoted-products-widget-container"] .pp-product-name-container {
  justify-content: center;
}

[class*="yotpo-promoted-products-widget-container"] .pp-reviews-container {
  justify-content: center;
  width: 100%;
}
