@font-face {
  font-family: "ridley_groteskregular";
  src: url("https://cdn.medik8.com/c8b72033-fcf3-46b6-936d-3d05b6f8a5a1/ridleygroteskregularwebfont.woff2")
      format("woff2"),
    url("https://cdn.medik8.com/49dcbb7e-8fa8-4356-9593-a4685a08f0d0/ridleygroteskregularwebfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ridley_groteskmedium";
  src: url("https://cdn.medik8.com/9bf21a3c-b8f5-40a1-81d7-924a9a44ac60/ridleygroteskmediumwebfont.woff2")
      format("woff2"),
    url("https://cdn.medik8.com/2b002eae-48c7-4558-a569-d3e51b131ae9/ridleygroteskmediumwebfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ridley_groteskbold";
  src: url("https://cdn.medik8.com/2d3f223b-2369-4632-9bcc-8d80c7886cf5/ridleygroteskboldwebfont.woff2")
      format("woff2"),
    url("https://cdn.medik8.com/aa9597d9-f541-4cbb-9d99-39bca33103fa/ridleygroteskboldwebfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "acta_displaylight";
  src: url("https://cdn.medik8.com/11530328-2eaa-4f70-820c-792060319d98/actadisplaylightwebfont.woff2")
      format("woff2"),
    url("https://cdn.medik8.com/7a8766d6-c14a-4907-a4f2-9a42c158f692/actadisplaylightwebfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "acta_displaymedium";
  src: url("https://cdn.medik8.com/02d189c7-c9bb-4aa0-9906-e675476b5bf3/actadisplaymediumwebfont.woff2")
      format("woff2"),
    url("https://cdn.medik8.com/1409d0dc-fdf0-4b76-9dbf-3dcce0a0809e/actadisplaymediumwebfont.woff")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bureau Grot Comp Bd";
  src: url("https://cloud.typenetwork.com/projectLicenseWeb/22998/fontfile/woff2/?09d609da4c72fe651aa09b453cd81ca87e2848cb")
      format("woff2"),
    url("https://cloud.typenetwork.com/projectLicenseWeb/22998/fontfile/woff/?09d609da4c72fe651aa09b453cd81ca87e2848cb")
      format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] *,
[class*="yotpo-display-"][class*="yotpo-device-"][style] input::placeholder,
[class*="yotpo-display-"][class*="yotpo-device-"][style] textarea::placeholder {
  font-family: "ridley_groteskregular", sans-serif !important;
}
:root {
  --YotpoPrimaryColor: #6a6c77;
  --YotpoSecondaryColor: #6b6d76;
  --YotpoPrimaryFont: "ridley_groteskregular", var(--YotpoFallbackFont);
  --YotpoSecondaryFont: "ridley_groteskregular", var(--YotpoFallbackFont);
  --YotpoFallbackFont: sans-serif;
  --YotpoLogoIconColor: var(--YotpoSecondaryColor);
  --YotpoAccentColor: #000;
  --YotpoAvatarBackgroundColor: #1cc286;
  --YotpoVerifiedIconBackgroundColor: #fff;
  --YotpoPaginationBackground: var(--YotpoSecondaryColor);
  --YotpoCustomAvatarBackground: url(https://cdn-yotpo-images-production.yotpo.com/App/531793/179197833/thumb.png?1623250721);
}

h1,
h2,
h3,
h4,
p,
td,
input,
textarea,
button,
div,
label {
  font-family: "ridley_groteskregular", sans-serif !important;
}

/*SEO*/
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style] * {
  font-family: var(--YotpoPrimaryFont), Helvetica, Arial, sans-serif !important;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-center-panel {
  order: 3;
  flex-basis: 100% !important;
  padding-left: 50px;
  padding-right: 50px;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-left-panel {
  flex-basis: 50%;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-right-panel {
  order: 2;
  flex-basis: 50%;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-right-panel
  .yotpo-review-details {
  height: 100%;
  align-items: center;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviewer-details-verified {
  padding: 0;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review-date {
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style] .yotpo-read-more {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #000;
  text-decoration-thickness: 2px;
  font-size: inherit !important;
  font-weight: 600;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-verified-icon-wrapper,
.yotpo-verified-icon-wrapper {
  right: 0;
  left: unset;
  top: unset;
  bottom: 0;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-verified-icon
  circle,
[class*="yotpo-display-"][style] #modalDescription .yotpo-verified-icon circle {
  fill: #1cc286;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-date-format {
  font-size: 12px;
  color: var(--YotpoPrimaryColor);
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-center-panel
  .yotpo-review-rating-title
  .yotpo-review-title {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  color: #000;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review-content {
  font-size: 14px;
  line-height: 22px;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .ugc-storefront-widgets-tabs-container__tab.ugc-non-selectable-cursor {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #6b6d76;
  text-decoration-thickness: 3px;
  text-decoration-color: #000;
  font-weight: bold;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviewer-name,
.yotpo-reviewer-name {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-center-panel
  .yotpo-review-rating-title {
  flex-direction: column;
  gap: 15px;
  margin-bottom: 7px;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-seo-page-layout
  .yotpo-head
  .yotpo-headline {
  font-weight: 500;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-horizontal-pagination
  .selected {
  background-color: unset;
  color: #000;
  font-weight: bold;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-horizontal-pagination
  .selected,
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-horizontal-pagination
  .yotpo-pagination-number:hover {
  font-weight: bold;
  color: #333;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-text-link-name {
  font-weight: 300;
  color: #333;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-horizontal-pagination
  .yotpo-reviews-seo-pagination-item {
  font-weight: 300;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-base-layout
  .yotpo-head {
  margin: 0;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-center-panel {
  padding-left: 0;
  padding-right: 0;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-reviewer-details-verified {
  flex-direction: column;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-left-panel {
  flex-basis: 100%;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-reviewer-details-verified {
  gap: 0;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-right-panel {
  flex-basis: 100%;
  text-align: left;
  margin-top: 10px;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviews-seo-pagination-item {
  background: #fff;
  border-radius: 0;
  width: auto;
  height: auto;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 3px;
  color: #6b6d76;
  border: none;
  background-color: transparent;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviews-seo-pagination-item:not(.yotpo-pagination-number) {
  padding-top: 3px;
  font-weight: 300;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-pagination-number {
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-seo-page-layout {
  margin: auto 0;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-seo-page-tabs,
[class*="yotpo-reviews-seo-"][class*="yotpo-display-mobile"][style]
  .yotpo-bottomline-container {
  margin-top: 0;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviewer-name,
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviewer-verified-buyer-text,
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-pagination-number {
  font-family: inherit;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style].yotpo-display-mobile
  .sr-only {
  display: none;
}
/* for csb */
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style].yotpo-display-mobile
  .yotpo-seo-page-layout.yotpo-align-text {
  margin: auto 0px;
}
<<<<<<< HEAD

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-bottom-line-score {
  font-size: 42px;
  color: #6b6d76;
  font-weight: 600;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-bottom-line-right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-bottom-line-right-panel {
  padding: 0;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-bottom-line-text {
  margin: 0;
  padding-bottom: 4px;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-bottom-line-basic-text {
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .ugc-storefront-widgets-tabs-container__tab.selected {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .ugc-storefront-widgets-tabs-container__tab {
  text-transform: uppercase;
  font-size: 14px;
  color: #6b6d76;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-seo-page-tabs {
  margin-bottom: 9px;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-review-border-smooth {
  height: 1px;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviewer-name,
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-reviewer-verified-buyer-text {
  font-size: 12px;
  color: #000;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-read-more-text {
  color: #6b6d76;
  font-size: 14px;
}

.yotpo-verified-image-icon circle[cy*="300"] {
  fill: #666666;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-comment-title {
  font-size: 0px;
}
[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-comment-title::before {
  font-size: 14px;
  content: "Medik8";
  color: #333;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-modal-body-review-score
  span {
  display: none;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-modal-body-review-title {
  color: #000;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-modal-body-review-content
  .yotpo-read-more-text {
  color: #6b6d76;
  font-size: 14px;
}

[class*="yotpo-reviews-seo-"][class*="yotpo-display-"][style]
  .yotpo-modal-body-review-score {
}
=======
>>>>>>> 88f396e08d737779b8cf96811dc003aa4c6fb357
