@font-face {
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(//odacite.com/cdn/shop/files/GTAmerica-ExtendedLight.woff2?v=9413575482244060514)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(//odacite.com/cdn/shop/files/GTAmerica-Regular.woff2?v=8298495051700026298)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(//odacite.com/cdn/shop/files/GTAmerica-ExtendedMedium_7788929b-3fbb-4df9-983d-ced3339aa4d4.woff2?v=5618574206194773970)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(//odacite.com/cdn/shop/files/GTAmerica-Bold.woff2?v=7184907424623111800)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(//odacite.com/cdn/shop/files/GTAmerica-ExtendedBold.woff2?v=2876967350497015039)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "GT America Extended";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(//odacite.com/cdn/shop/files/GTAmerica-ExtendedBlack.woff2?v=15214263075843335401)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --YotpoPrimaryFont: "GT America Extended";
  --YotpoAccentColor: #cbaaae;
}

h1,
h2,
h3,
h4,
p,
td,
input,
textarea,
button,
div,
label {
  font-family: "GT America Extended", sans-serif !important;
  letter-spacing: 1px !important;
}

[class*="yotpo-reviews-carousel-widget-container"] .review-title {
  font-family: inherit !important;
}
[class*="yotpo-reviews-carousel-widget-container"]
  .reviews-carousel-card-container
  .review-content
  span {
  font-family: inherit !important;
}

[class*="yotpo-reviews-carousel-widget-container"] .reviewer-display-name,
[class*="yotpo-reviews-carousel-widget-container"] .reviewer-status-text,
[class*="yotpo-reviews-carousel-widget-container"] .review-product-name,
[class*="yotpo-reviews-carousel-widget-container"]
  .reviews-bottomline-total-reviews {
  font-family: inherit !important;
}
[class*="yotpo-reviews-carousel-widget-container"] .reviewer-display-name,
[class*="yotpo-reviews-carousel-widget-container"]
  .yotpo-reviews-carousel-seo-link-button {
  font-family: inherit !important;
}

<<<<<<< HEAD
[class*="yotpo-reviews-carousel-widget-container"] .review-title {
  color: #0f3759 !important;
}

/*mobile*/
[class*="yotpo-reviews-carousel-widget-container"][class*="yotpo-reviews-carousel-widget-mobile-mode"]
  .reviews-carousel-card-container {
  background: none;
  min-width: auto;
  border: none;
  box-sizing: border-box;
  height: 100%;
  width: 100% !important;
}

[class*="yotpo-reviews-carousel-widget-container"][class*="yotpo-reviews-carousel-widget-mobile-mode"]
  .review-content {
  height: auto;
}

[class*="yotpo-reviews-carousel-widget-container"][class*="yotpo-reviews-carousel-widget-mobile-mode"]
  .glide__slide {
  height: auto;
  border: 1px solid #d7dae4;
  border-radius: 6px;
}

[class*="yotpo-reviews-carousel-widget-container"][class*="yotpo-reviews-carousel-widget-mobile-mode"]
  .reviewer-display-name,
[class*="yotpo-reviews-carousel-widget-container"][class*="yotpo-reviews-carousel-widget-mobile-mode"]
  .reviewer-status-text {
  font-size: 12px;
=======
[class="yotpo-carousel"] .pp-product-content {
  align-items: center;
>>>>>>> d7e6cd4363cd36f0b0027567815f0d7e8939a817
}
