[class*="yotpo-reviews-tab"][class*="yotpo-display-"][style] *,
[class*="yotpo-reviews-tab"][class*="yotpo-display-"][style] input::placeholder,
[class*="yotpo-reviews-tab"][class*="yotpo-display-"][style]
  textarea::placeholder {
  font-family: "Rutan", sans-serif !important;
}

[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-comment-title {
  font-size: 0;
}
[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-comment-title::before {
  content: "Account Name";
  font-size: 14px;
}

[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-reviewer-name {
  font-family: inherit;
}

[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-reviewer-verified-buyer-text,
[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-reviews-tab-pagination-item {
  font-family: inherit;
}

[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-reviews-tab-review-content
  .yotpo-read-more {
  color: var(--tab-background-color);
  font-family: inherit;
}
[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-reviews-tab-icon
  path {
  fill: var(--tab-background-color);
}

[class*="yotpo-reviews-tab"][class*="yotpo-display-"][class*="yotpo-display-"]
  .yotpo-headline {
  margin-inline: auto;
}
