/*star collection*/
[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-score {color: #212121 !important;font-weight: 400 !important;margin-left: 2px !important;font-size: 12px !important;}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-summary > div .star-container:not(:first-child) {
    display: none !important;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-summary .star-container svg{
    width: 10px;
    height: auto;
    min-height: 18px;
}


[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-text--right-panel {
    font-weight: 400 !important;
    font-size: 0 !important;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-text--right-panel{
        font-size: 12px !important;
}
[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-summary {
    flex-direction: row !important;
    gap: 3px !important;
    align-items: center !important;
}

/*pdp star rating*/
[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-summary .star-container svg {
    width: 12px;
    height: auto;
}


[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-score {
    font-size: 12px !important;
    color: #000!important;
    margin-left: 0 !important;
    margin-right: 5px !important;
    font-weight: normal !important;
}

[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-bottom-line-scroll-panel .yotpo-sr-vertical-border{
    display: none !important;
}

[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-text--right-panel {
    font-size: 12px !important;
    font-weight: normal !important;
}

[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-summary > div {
    margin-right: 5px !important;
    flex-direction: row-reverse !important;
    gap: 2px;
}

[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-summary {
    align-items: center !important;
}

[data-yotpo-section-id="product"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .star-container {
    margin: 0 !important;
    padding-bottom: 2px;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-right-panel .yotpo-sr-bottom-line-text--right-panel {
    font-size: 0 !important;
    line-height: 15px !important;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-right-panel .yotpo-sr-bottom-line-text--right-panel:first-letter {
    font-size: 12px !important;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-right-panel::before {
    content: "(";
    font-size: 12px;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-right-panel::after {
    content: ")";
    font-size: 12px;
}

[data-yotpo-section-id="collection"] [class*="yotpo-reviews-star-ratings-"][class*="yotpo-device-desktop yotpo-display-"] .yotpo-sr-bottom-line-right-panel {height: 15px;}
