/*QnA*/
[class*="yotpo-questions-and-answers"][class*="yotpo-display-"]
  [class*="yotpo-empty-state"] {
  margin-top: 20px;
}

/*Widgets*/
/**/
[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style]
  .yotpo-main-layout
  .yotpo-head {
  margin-bottom: 40px;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style]
  .yotpo-header-container
  .yotpo-bottom-line {
  margin: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style]
  .yotpo-bottom-line-right-panel {
  padding-right: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style]
  .yotpo-filters-container {
  margin-top: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style]
  .yotpo-review {
  margin: 32px 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-desktop
  .yotpo-review:first-of-type {
  margin-top: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style]
  .yotpo-review-center-panel
  .yotpo-review-rating-title {
  margin-bottom: 10px;
}
/*mobile*/
[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-mobile
  .yotpo-headline {
  margin-top: 6px;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-mobile
  .yotpo-bottom-line-summary {
  margin: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-mobile
  .yotpo-review:first-of-type {
  margin-top: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-mobile
  .yotpo-review-content {
  margin-top: 0;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-mobile
  .sr-only {
  display: none;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][style].yotpo-device-mobile
  .yotpo-review-title {
  margin-bottom: 0;
}
