@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --YotpoVerifiedIconBackgroundColor: #1cc286;
  --YotpoSecondaryColor: #212121;
  --YotpoFontWeight: 400;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] *,
[class*="yotpo-display-"][class*="yotpo-device-"][style] input::placeholder,
[class*="yotpo-display-"][class*="yotpo-device-"][style] textarea::placeholder {
  font-family: "Inter", sans-serif !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .label,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  label:not(.variant__button-label):not(.text-label),
[class*="yotpo-display-"][class*="yotpo-device-"][style] .h5,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .h6,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .h4,
[class*="yotpo-display-"][class*="yotpo-device-"][style] h4,
[class*="yotpo-display-"][class*="yotpo-device-"][style] h5,
[class*="yotpo-display-"][class*="yotpo-device-"][style] h6,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-new-input-message,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-star-rating-wrapper
  .yotpo-star-rating-text,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-file-upload
  .yotpo-file-input-headline,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-modal-header,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-form-label,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-custom-question-headline,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  .yotpo-custom-question-headline
  .yotpo-custom-question-message {
  color: #6b6d76;
  text-transform: inherit;
  letter-spacing: inherit;
  font-weight: var(--YotpoFontWeight);
  border-radius: 3px;
  font-size: 13px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-score-option
  .yotpo-score {
  font-family: inherit !important;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  [id*="-widget-btn"],
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"]
  [id*="-widget-btn"],
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  #yotpo-modal.yotpo-form-complete
  .yotpo-form-complete
  .yotpo-shop-complete,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  footer.form-footer
  .yotpo-new-review-submit,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-question-form
  .form-footer
  .yotpo-question-submit,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-vertical-pagination
  .yotpo-reviews-pagination-item,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-vertical-pagination
  .yotpo-pagination-item,
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-form-complete
  .yotpo-shop-complete {
  border-radius: 3px;
  color: var(--text-color);
  background-color: transparent;
  border: solid 1px #e3e3e3;
  font-weight: var(--YotpoFontWeight);
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  [id*="-widget-btn"]:hover,
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"]
  [id*="-widget-btn"]:hover,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  #yotpo-modal.yotpo-form-complete
  .yotpo-form-complete
  .yotpo-shop-complete,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  #newReviewFormModal
  footer.form-footer
  .yotpo-new-review-submit:hover,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-question-form
  .form-footer
  .yotpo-question-submit:hover,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-vertical-pagination
  .yotpo-reviews-pagination-item:hover,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-vertical-pagination
  .yotpo-pagination-item {
  border: 1px solid #6a6c77;
}

/* score rating */
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-header-container
  .yotpo-layout-header-wrapper
  .yotpo-bottom-line
  .yotpo-bottom-line-score {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 45px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review-border-smooth {
  height: 1px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-filters-container
  .yotpo-filters-top-panel
  > [class$="filter-container"]
  input[placeholder],
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-filters-container
  .yotpo-filters-top-panel
  .yotpo-mobile-filters-btn,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  #yotpo-mobile-filters-popup
  .yotpo-filter-select,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  #yotpo-mobile-filters-popup
  .yotpo-media-select {
  border-radius: 3px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-filters-top-panel {
  flex-wrap: wrap;
  gap: 10px;
}
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-filters-container
  .yotpo-filters-container-inner
  .yotpo-filters-top-panel
  .yotpo-free-search-filter-container {
  flex-basis: 100%;
  max-width: 100%;
  margin-right: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-filters-container
  .yotpo-filters-container-inner
  .yotpo-filters-top-panel
  .yotpo-mobile-filters-popup-btn {
  flex-basis: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-avatar-initials-text {
  font-size: 17px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="yotpo-filter-select"],
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="yotpo-media-select"] {
  font-weight: 600;
  border-radius: 3px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-reviews-list
  .yotpo-review
  .yotpo-reviewer-name,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-details-verified"]
  [title],
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .modal-backdrop.yotpo-media-modal
  .yotpo-media-modal-review
  .yotpo-reviewer-name {
  color: var(--primary-color) !important;
  font-weight: var(--YotpoFontWeight);
  font-size: 12px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-details-verified"]
  .yotpo-reviewer-verified-buyer-text,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-details-verified"]
  .yotpo-verified-text {
  color: var(--YotpoSecondaryColor);
  font-family: inherit;
  font-size: 12px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review
  .yotpo-review-center-panel
  .yotpo-review-rating-title
  .yotpo-review-title {
  margin: 0;
  font-size: 14px;
  color: #6b6d76;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review
  .yotpo-review-center-panel
  .yotpo-review-content {
  margin: 0;
  font-size: 14px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review
  .yotpo-review-center-panel
  .yotpo-review-content
  .yotpo-read-more-text {
  color: var(--primary-color);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-reviews-list
  > .yotpo-review-votes-wrapper
  .yotpo-review-votes-text {
  font-size: 13px;
  color: var(--YotpoSecondaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-reviews-list
  > .yotpo-review-votes-wrapper
  .yotpo-review-votes-text,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-custom-questions-wrapper-suffix-padding {
  display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review-key-value-question {
  flex-direction: column;
  grid-template-columns: auto 1fr;
  padding-left: 50px;
  margin-top: 30px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-key-value-question {
  padding-left: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-date-format {
  font-size: 12px;
  text-align: right;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-verified-image-icon
  .yotpo-verified-icon
  > circle {
  fill: var(--YotpoVerifiedIconBackgroundColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-pagination-container"]
  .yotpo-horizontal-pagination {
  margin: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-pagination-container"]
  .yotpo-pagination-number {
  padding: 5px 0;
  display: block;
  font-family: inherit;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-pagination-container"]
  .yotpo-pagination-number.selected,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="-pagination-container"]
  .yotpo-pagination-number:hover {
  background: none;
  height: auto;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-review-media-modal-header,
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-reviewer-name {
  font-family: inherit !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-basic-modal
  .yotpo-reviewer-image {
}

[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-basic-modal
  .yotpo-reviewer-verified-buyer-text {
  font-family: inherit !important;
}

[class*="yotpo-reviews-"][class*="yotpo-display-"].yotpo-device-mobile
  .yotpo-filters-container-inner
  .yotpo-filters-top-panel {
  flex-basis: 0;
}
[class*="yotpo-reviews-"][class*="yotpo-display-"].yotpo-device-mobile
  .yotpo-review
  .yotpo-review-right-panel {
  flex-basis: 100%;
  text-align: left;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-thumbnail-container {
  margin-bottom: 20px;
}

.modal-backdrop.yotpo-review-media-modal {
  z-index: 99999999 !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"] #newReviewFormModal {
  z-index: 999999;
}

[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-horizontal-pagination-container {
  margin: 0;
}

[class*="yotpo-display-"].yotpo-device-mobile #yotpo-mobile-filters-popup {
  z-index: 9999999;
}

[class*="yotpo-display-"].yotpo-device-mobile
  .yotpo-terms-and-conditions-container {
  flex-wrap: wrap;
}

[class*="yotpo-display-"].yotpo-device-mobile .yotpo-star-rating-icons {
  flex-direction: column;
}

[class*="yotpo-display-"].yotpo-device-mobile
  .yotpo-reviews-summary-modal-container
  svg.yotpo-close-icon.yotpo-summary-close {
  height: 40px;
}
/* common issue fixes */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .modal-backdrop.yotpo-media-modal {
  background-color: #fff;
  overflow-y: scroll;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .modal-backdrop.yotpo-media-modal
  #yotpo-modal {
  overflow-y: unset;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review
  .yotpo-review-center-panel
  .yotpo-review-content
  .yotpo-read-more-text {
  display: inline;
  margin-right: 5px;
  color: #212121;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review
  .yotpo-review-center-panel
  .yotpo-read-more,
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-basic-modal
  .yotpo-read-more {
  margin: 0;
  color: #daccbc;
  text-decoration: underline;
  font-weight: bold;
  font-family: inherit !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-sr-bottom-line-summary:hover {
  cursor: pointer;
}
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  #yotpo-widget-btn {
  width: 100%;
}
[class*="yotpo-reviews-"][class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-dropdown-placeholder {
  font-family: inherit !important;
  border-radius: 3px !important;
  font-size: 12px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-left-panel,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-right-panel {
  flex-basis: 25%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-left-panel {
  min-width: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-dropdown-base,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-radio-base {
  width: 100%;
}

/*common issues*/
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-reviews-icon
  path {
  fill: var(--primary-color);
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-review
  .yotpo-review-center-panel
  .yotpo-review-content
  .sr-only {
  display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-smart-topic-filter[style*="rgba(33,33,33,1)"] {
  background: rgba(51, 51, 51, 0.15);
  border-color: transparent;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .form-footer {
  box-sizing: border-box;
  padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-custom-question-input {
  box-sizing: border-box;
  width: 100%;
}

[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-input-wrapper,
[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  [class="modal-body"]
  .yotpo-input-wrapper,
[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][class*="yotpo-device-"][style]
  [class*="yotpo-name-email-wrapper"],
[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  [class="modal-body"]
  [class*="yotpo-name-email-wrapper"] {
  width: 100%;
  box-sizing: border-box;
}

[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-search-label {
  width: 100%;
}

[class*="yotpo-reviews-main-widget"][class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-input-wrapper
  textarea {
  width: 100%;
  overflow-x: hidden;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-custom-questions-container {
  width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-reviewer-image
  .yotpo-verified-icon-wrapper {
  top: 27px;
  left: 27px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-reviewer-image
  .yotpo-verified-icon-wrapper {
  top: 22px;
  left: 22px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-comment
  .yotpo-custom-icon {
  background-size: 100% 100%;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-comment
  .sr-only {
  display: none;
}

[class*="yotpo-widget-instance"]
  [class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-question-btn
  span {
  color: var(--primary-color) !important;
  font-family: inherit !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-star-distribution {
  padding: 0;
  margin-inline: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-basic-modal-body {
  margin: 0 auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-progress-bar {
  margin-right: 0;
  border-radius: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-sr-bottom-line-summary {
  flex-direction: row !important;
}

[data-yotpo-section-id="collection"]
  [class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-sr-bottom-line-summary {
  gap: 8px !important;
}

[data-yotpo-section-id="collection"]
  [class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-sr-bottom-line-right-panel {
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-bottom-line-right-panel {
  padding-right: 0;
  margin-left: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-bottom-line-stars {
  gap: 6px;
  justify-content: center;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-bottom-line-stars
  .star-container {
  margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-bottom-line-basic-text {
  text-align: center;
  font-size: 13px;
  color: #6a6c77;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-summary-section {
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-summary-section
  .yotpo-bottom-line-summary {
  flex-direction: column;
  margin-right: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-summary-section
  .yotpo-bottom-line-summary {
  margin-right: 0;
  flex-direction: row;
  gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-bottom-line-basic-text {
  text-align: left;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-center-panel {
  margin-top: 15px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-close-icon {
  z-index: 999;
}

/**/
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-star-distribution {
  border: none !important;
  gap: 5px;
  padding-inline: 20px;
}
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-bottom-line
  .yotpo-vertical-border,
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-star-distribution-value,
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-star-distribution
  .yotpo-star-rating-icon {
  display: none;
}
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-progress-bar
  .yotpo-progress-bar-score {
  border-radius: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-star-distribution-bar {
  margin-left: 5px;
}
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-star-distribution-bar {
  margin-right: 5px;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-bottom-line {
  margin: 0;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-bottom-line {
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-layout-header-wrapper {
  flex-direction: column;
  gap: 22px;
  margin-bottom: 30px;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-selected-value {
  font-weight: bold;
  color: #6b6d76;
  font-size: 13px;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-reviews-widget-dropdown
  .yotpo-selected-value {
  font-weight: normal;
  font-size: 12px;
}
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-smart-topics
  .smart-topic-collection
  .smart-topic-wrapper {
  background-color: rgba(51, 51, 51, 0.07);
}
[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-smart-topics
  .smart-topic-collection
  .smart-topic-wrapper:hover {
  background-color: rgba(51, 51, 51, 0.15);
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-head {
  margin-block: 30px;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .ugc-storefront-widgets-tabs-container__tab.selected {
  color: #333;
  =: 2px;
  border-bottom: 2px solid #333;
  font-weight: bold;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .ugc-storefront-widgets-tabs-container__tab {
  color: #5c5c5c;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 6px;
  font-weight: normal;
}
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-base-layout {
  position: relative;
}
/*desktop*/
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-bottom-line-right-panel {
  padding-top: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-bottom-line-text {
  margin-top: 20px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-new-review-btn-wrapper {
  margin-left: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-main-widget-tabs {
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review-left-panel {
  flex-basis: 50%;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(
    .yotpo-device-mobile
  )
  .yotpo-review-center-panel {
  order: 3;
  flex-basis: 100%;
  padding: 0 0 0 50px;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review-right-panel {
  order: 2;
  flex-basis: 50%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-reviewer-details-verified {
  padding: 0;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review:not(.yotpo-media-modal-review)
  .yotpo-review-left-panel
  .yotpo-review-customer-questions-container,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review-left-panel
  .yotpo-review-customer-questions-container {
  width: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-custom-questions-title::after {
  content: ":";
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-custom-questions-title {
  color: #6b6d76 !important;
  font-size: 12px;
  font-style: italic;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-custom-questions-title {
  font-size: 12px !important;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-review-center-panel
  .yotpo-review-rating-title {
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-review-star-rating {
  position: absolute;
  top: 35px;
  left: 50px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-custom-questions-value {
  font-size: 12px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviewer-name,
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-reviewer-verified-buyer-text {
  font-size: 12px;
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-reviewer-name {
  padding-top: 4px;
  font-weight: bold;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviewer-name {
  padding-top: 4px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-comment-title {
  font-size: 12px;
  color: #333;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"]
  .yotpo-review-thumbnail-container {
  order: 5;
  margin-top: 10px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-modal-body-review-content
  .yotpo-read-more {
  padding-left: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-comment {
  border-left: 2px solid #adadad;
  padding-left: 28px;
  margin-left: -28px;
  padding-top: 20px;
  padding-bottom: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-comment {
  margin-left: 0;
  width: 100%;
  padding-left: 9px;
  padding-bottom: 20px;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review-right-panel {
  order: 0;
  flex-basis: 40%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-reviewer-details-verified {
  flex-direction: column;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-review {
  margin-bottom: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review {
  margin-bottom: 0;
  position: relative;
}

/*QnA*/
[class*="yotpo-questions-and-answers"][class*="yotpo-main-widget-layout"][class*="yotpo-device-"][class*="yotpo-display-"]
  .yotpo-qna-modal
  .modal-body {
  padding-bottom: 20px;
}
[class*="yotpo-questions-and-answers"][class*="yotpo-main-widget-layout"][class*="yotpo-device-"][class*="yotpo-display-"]
  .yotpo-qna-modal-header
  span {
  font-size: 17px;
}
[class*="yotpo-questions-and-answers"][class*="yotpo-main-widget-layout"][class*="yotpo-device-"][class*="yotpo-display-"]
  .yotpo-new-input-validation {
  color: #cb2222;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-star-rating-text {
  align-self: flex-start !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile
  .yotpo-clear-filters-device {
  flex-wrap: wrap;
  gap: 5px;
}
[class*="yotpo-questions-and-answers"] .yotpo-header {
  margin-top: 35px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  .yotpo-main-layout {
  width: 100% !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers
  .yotpo-verified-image-icon {
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers
  .yotpo-verified-image-icon
  span {
  background-image: url(https://cdn-widget-assets.yotpo.com/static_assets/La2LvsUb2pRuEXCgRsg1iibUENeMQr8Ue0bVKFVV/images/image_2024_06_04_01_16_44_864);
  width: 45px;
  height: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: contain;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers.yotpo-device-mobile
  .yotpo-verified-image-icon
  span {
  width: 37px;
  height: 37px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers
  .yotpo-verified-image-icon
  span
  svg {
  display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers
  .yotpo-shopper-image
  .yotpo-verified-icon-wrapper
  circle {
  fill: #2f84ed;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers:not(
    .yotpo-device-mobile
  )
  .yotpo-question-answers {
  margin-left: -38px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-questions-and-answers
  .yotpo-question-center-panel {
  margin-top: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  .yotpo-shopper-details-verified
  .yotpo-shopper-name {
  color: #333 !important;
  font-weight: bold;
  padding-top: 4px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  .yotpo-shopper-details-verified {
  padding: 0;
  flex-direction: row;
  gap: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers.yotpo-device-mobile
  .yotpo-shopper-details-verified {
  flex-direction: column;
  gap: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers.yotpo-device-mobile
  .yotpo-question {
  row-gap: 10px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  .yotpo-answer-content
  .yotpo-read-more-text {
  font-weight: normal;
  font-size: 14px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  .yotpo-read-more-text {
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  .yotpo-answers-answer {
  border-left: 2px solid #adadad;
  padding: 15px 0 20px 38px !important;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers.yotpo-device-mobile
  .yotpo-answers-answer {
  padding-left: 20px !important;
  margin: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers
  textarea {
  box-sizing: border-box;
  width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-questions-and-answers.yotpo-device-mobile
  .yotpo-question-answers {
  margin-left: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]
  .yotpo-button-icon-text {
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-icon-btn {
  border-radius: 3px;
  color: var(--text-color);
  background-color: transparent;
  border: solid 1px #e3e3e3;
  font-weight: var(--YotpoFontWeight);
  margin-right: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile
  .yotpo-icon-btn {
  margin-right: 0;
  margin-top: 20px;
}

/*to fix absolute review title*/
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-desktop
  .yotpo-review:not(
    :has(.yotpo-review-left-panel .yotpo-review-customer-questions-container)
  )
  .yotpo-review-center-panel {
  margin-top: 25px;
}
