@font-face {
  font-family: "AktivGrotesk";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Bold.woff2?v=74669877577614174101728144052")
      format("woff2"),
    url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Bold.woff?v=80628826173766983441728144051")
      format("woff");
  ascent-override: 100%;
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Light.woff2?v=120502829834530735051728144054")
      format("woff2"),
    url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Light.woff?v=171815891656391901321728144053")
      format("woff");
  ascent-override: 100%;
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Medium.woff2?v=107020402608090109871728144057")
      format("woff2"),
    url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Medium.woff?v=71536946306612943691728144055")
      format("woff");
  ascent-override: 100%;
}

@font-face {
  font-family: "AktivGrotesk";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Regular.woff2?v=88145458061937654231728144059")
      format("woff2"),
    url("https://underyourskin-stg.myshopify.com/cdn/shop/t/3/assets/AktivGrotesk-Regular.woff?v=109045751575450886671728144058")
      format("woff");
  ascent-override: 100%;
}
