/*Carousel*/
/*Hide remove if needed*/
[class*="yotpo-reviews-carousel-widget-container"]
  .yotpo-reviews-carousel-bottomline-container,
[class*="yotpo-reviews-carousel-widget-container"]
  .yotpo-reviews-carousel-reviews-by-yotpo-seo,
[class*="yotpo-reviews-carousel-widget-container"] .review-date,
[class*="yotpo-reviews-carousel-widget-container"] .reviewer-status,
[class*="yotpo-reviews-carousel-widget-container"] .review-title {
  display: none;
}

/*Header*/
[class*="yotpo-reviews-carousel-widget-container"]
  .yotpo-reviews-carousel-header {
  font-family: var(--font-body-family) !important;
  font-size: 32px;
  color: #000 !important;
  display: block;
}

[class*="yotpo-reviews-carousel-widget-container"]
  .yotpo-reviews-carousel-header::after {
  content: "Des conseils pour prendre soin de tes cheveux et révéler tes boucles";
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}

[class*="yotpo-reviews-carousel-widget-container"]
  .yotpo-reviews-carousel-header-container {
  justify-content: flex-start !important;
}

[class*="yotpo-reviews-carousel-"] .yotpo-reviews-carousel-widget-container {
  background-color: transparent !important;
}

.color-scheme-1 [class*="section-template--"] {
  background-color: #e8d4c9 !important;
  padding-bottom: 100px;
}

/*Boxes*/
[class*="yotpo-reviews-carousel-"] .reviews-carousel-card-container {
  background-color: #f8ece5;
  border: navajowhite;
  border-radius: 15px;
  padding: 30px;
  min-height: 273px;
}

[class*="yotpo-reviews-carousel-"] .reviewer-display-name {
  color: #000 !important;
  font-family: var(--font-body-family) !important;
}
[class*="yotpo-reviews-carousel-"] .review-product-name {
  font-size: 12px;
  font-weight: 600 !important;
  font-family: var(--font-body-family) !important;
  color: #000 !important;
}

[class*="yotpo-reviews-carousel-"] .review-product-image {
  width: 70px;
  height: 70px;
}

[class*="yotpo-reviews-carousel-"]
  .reviews-carousel-card-review-product-container {
  height: auto;
  width: auto;
  margin-top: auto;
}

[class*="yotpo-reviews-carousel-"] .review-product {
  height: auto;
}

[class*="yotpo-reviews-carousel-"] .review-content {
  height: auto;
  margin-bottom: 9px;
  font-family: var(--font-body-family) !important;
}

[class*="yotpo-reviews-carousel-"]
  .reviews-carousel-card-star-rating-shop-badge-container {
  order: -1;
  margin-top: 0;
  margin-bottom: 10px;
}

[class*="yotpo-reviews-carousel-"]
  .reviews-carousel-card-review-content-container {
  order: -1;
  height: auto;
  min-height: auto;
  margin: 0;
  flex-grow: 0;
  justify-self: flex-start;
}

[class*="yotpo-reviews-carousel-"] .reviews-carousel-card {
  justify-content: flex-start;
}

/*arrows*/
[class*="yotpo-reviews-carousel-"] .yotpo-carousel .yotpo-carousel-arrow {
  height: 48px;
  width: 48px;
  background-color: #eba38f;
  box-shadow: none;
  border: none;
  transform: none;
  top: unset;
  bottom: -58px;
  right: 0;
}

[class*="yotpo-reviews-carousel-"] .yotpo-carousel-arrow path {
  fill: #fff;
}

[class*="yotpo-reviews-carousel-"] .yotpo-carousel-arrow.glide__arrow--left {
  left: unset;
  right: 58px;
}

/*mobile*/
[class*="yotpo-reviews-carousel-"] .reviews-carousel-card-container {
  min-width: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100% !important;
}

[class*="yotpo-reviews-carousel-widget-container"][class*="mobile"]
  .yotpo-reviews-carousel-header {
  font-size: 26px;
}

/*END Carousel*/
