@font-face {
  font-family: "aktiv-grotesk-extended";
  src: url(https://cdn.shopify.com/s/files/1/0265/5171/3841/files/aktiv-grotesk-extended400.woff?v=1670571854)
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AktivGrotesk-Regular";
  src: url(https://cdn.shopify.com/s/files/1/0708/4605/4708/files/AktivGrotesk-Regular.woff2?v=1736963971)
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url(https://cdn.shopify.com/s/files/1/0265/5171/3841/files/neue-haas-grotesk-display400.woff?v=1670571854)
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url(https://cdn.shopify.com/s/files/1/0265/5171/3841/files/neue-haas-grotesk-display700.woff?v=1670571854)
    format("woff");
  font-weight: 600;
  font-style: normal;
}
