@font-face {
  font-family: "Avenir Next";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/Avenir-Book.woff2?v=1730114524")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/Avenir-Medium.woff2?v=1730114524")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/AvenirNext-Bold_618c14d2-da64-4fca-8a11-3e81703b8c01.woff2?v=1732816091")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
