@font-face {
  font-family: "Myriad Pro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/MyriadPro-Bold.woff?v=1745958203")
    format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/MyriadPro-Regular.woff?v=1745958203")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
