@font-face {
  font-family: "Proxima Nova Rg";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/ProximaNova-Regular_43ad2147-b67b-4117-b44e-dad4eda62450.woff?v=1730302835")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
