@font-face {
  font-family: "RM Pro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/RMPro-Light.woff?v=1745607654")
    format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RM Pro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/RMPro-Bold.woff?v=1745607654")
    format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RM Pro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/RMPro-Regular.woff?v=1745607654")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
