@font-face {
  font-family: "SpockPro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/SpockPro-Black.woff2?v=1743552697")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpockPro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/SpockPro-Bold.woff2?v=1743552697")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpockPro";
  src: url("https://cdn.shopify.com/s/files/1/0708/4605/4708/files/SpockPro-Regular.woff2?v=1743552697")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
