#Header {
  position: relative;
}

#y-badges div.y-badge {
  transform: none !important;
  height: auto;
  transform: scale(0.6) !important;
}

#y-badges {
  position: absolute;
  top: 0;
  left: 0;
}
